// Add any font imports or definitions here
$static-path: '..' !default
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-VF.woff2') format('woff2 supports variations'),
       url('Montserrat-VF.woff2') format('woff2-variations');
}
