// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: "Montserrat";
}


#root header.site-header-desktop,
.learning-header {
  background: linear-gradient(to bottom, #FF7D5A, #FFA086);
}

.site-header-desktop .main-nav .nav-link:hover,
.site-header-desktop .main-nav .nav-link:focus {
  background: none;
}

.nav-link {
  color: #fff;
}

.site-header-desktop .container-fluid {
  max-width: 1320px;
}

.menu .menu-trigger {
  color: #fff;
  border: none;
}

.menu-trigger>svg {
  display: none;
}

.nav-link:hover {
  background: none;
}

.main-nav .nav-link:first-child {
  display: none;
}

.masquerade-bar {
  margin-bottom: 0;
}

.btn-primary,
.btn-outline-primary {
  background: none;
  color: #83B0EF;
  border-radius: 2px;
  border: 2px solid #83B0EF;
}

.page__account-settings, #dashboard-container, .profile-page, .certificate  {
  background: #FAF2ED !important;
}

.nav-underline-tabs .nav-link.active {
  color: #83B0EF;
  border-bottom-color: #83B0EF;
  font-weight: 400;
}

.btn-icon.btn-icon-primary {
  color: #83B0EF;
}

.btn-icon.btn-icon-primary:hover {
  background-color: #83B0EF;
  color: #fff;
}

.btn .btn-brand .btn-block {
    background: #BFBFBF;
    border: 2px solid #BFBFBF;
    border-radius: 2px;
}

#main-content, #main {
  background: #FAF2ED !important;
}

 .course-card-banners {
	display: none;
}
.dashboard-wrapper{
	padding : 0 71px;
}

.btn-link, ul.list-unstyled li.form-group a.font-weight-bold {
	color: #83B0EF !important;
}

#main .profile-page .container-fluid, .page__account-settings {
    max-width: 1320px;
    margin: 0 auto;
}

.profile-page-bg-banner {
	background-color: #BFBFBF !important;
}

.dropdown-toggle {
    border: none;
    color: white;
}
	.dropdown-toggle:hover{
	color: white;
	background: none;
	}

.learning-header .container-xl {
	    gap: 25px;
    padding: 15px 40px !important;
    }

.learning-header .logo{
	height: 40px !important;
	}

.btn-outline-primary:hover{
	background: none;
	color: white;
}
