// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.
#root header.site-header-desktop,
.learning-header {
  background: linear-gradient(to bottom, #FF7D5A, #FFA086);
}

.site-header-desktop .main-nav .nav-link:hover,
.site-header-desktop .main-nav .nav-link:focus {
  background: none;
}

.nav-link {
  color: #fff;
}

.site-header-desktop .container-fluid {
  max-width: 1320px;
}

.menu .menu-trigger {
  color: #fff;
  border: none;
}

.menu-trigger>svg {
  display: none;
}

.nav-link:hover {
  background: none;
}

.main-nav .nav-link:first-child {
  display: none;
}

.masquerade-bar {
  margin-bottom: 0;
}

.btn-primary,
.btn-outline-primary {
  background: none;
  color: #83B0EF;
  border-radius: 2px;
  border: 2px solid #83B0EF;
}

.page__account-settings, #dashboard-container, .profile-page, .certificate  {
  background: #FAF2ED !important;
}

.nav-underline-tabs .nav-link.active {
  color: #83B0EF;
  border-bottom-color: #83B0EF;
  font-weight: 400;
}

.btn-icon.btn-icon-primary {
  color: #83B0EF;
}

.btn-icon.btn-icon-primary:hover {
  background-color: #83B0EF;
  color: #fff;
}

.btn .btn-brand .btn-block {
    background: #BFBFBF;
    border: 2px solid #BFBFBF;
    border-radius: 2px;
}

#main-content {
  background: #FAF2ED !important;
}

 .course-card-banners {
	display: none;
}
.dashboard-wrapper{
	padding : 0 71px;
}

.btn-link {
	color: #83B0EF !important;
}

#main .profile-page .container-fluid {
    max-width: 1320px;
    margin: 0 auto;
}
