// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference
$primary: #83B0EF !default;
$font-family-sans-serif: Montserrat Flex !default;
$font-family-title: Montserrat Flex;

$monospace: Montserrat Flex !default;
$serif: Montserrat Flex !default;

// newer variables/standards
$f-serif: Montserrat Flex !default;
$f-monospace: Montserrat Flex !default;
